In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv(r"C:\Users\harri\Desktop\DataScienceProj\dataset\autoscout24-germany-dataset.csv")

In [3]:
data.head()

   mileage        make   model      fuel    gear offerType  price     hp  year
0   235000         BMW     316    Diesel  Manual      Used   6800  116.0  2011
1    92800  Volkswagen    Golf  Gasoline  Manual      Used   6877  122.0  2011
2   149300        SEAT    Exeo  Gasoline  Manual      Used   6900  160.0  2011
3    96200     Renault  Megane  Gasoline  Manual      Used   6950  110.0  2011
4   156000     Peugeot     308  Gasoline  Manual      Used   6950  156.0  2011

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46405 entries, 0 to 46404
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   mileage    46405 non-null  int64
 1   make       46405 non-null  object
 2   model      46262 non-null  object
 3   fuel       46405 non-null  object
 4   gear       46223 non-null  object
 5   offerType  46405 non-null  object
 6   price      46405 non-null  int64
 7   hp         46376 non-null  float64
 8   year       46405 non-null  int64
dtypes: float64(1), int64(3), object(5)
memory usage: 3.2+ MB

In [5]:
total = data.isnull().sum().sort_values(ascending=False)
percent = data.isnull().sum()/data.isnull().count()*100
percent_rounded = (round(percent, 1)).sort_values(ascending=False)
missing = pd.concat([total, percent_rounded], axis=1, keys=['Total', '%'])
missing.head(5)

         Total    %
gear       182  0.4
model      143  0.3
hp          29  0.1
mileage      0  0.0
make         0  0.0

In [5]:
data = data.dropna()

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 46071 entries, 0 to 46404
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   mileage    46071 non-null  int64
 1   make       46071 non-null  object
 2   model      46071 non-null  object
 3   fuel       46071 non-null  object
 4   gear       46071 non-null  object
 5   offerType  46071 non-null  object
 6   price      46071 non-null  int64
 7   hp         46071 non-null  float64
 8   year       46071 non-null  int64
dtypes: float64(1), int64(3), object(5)
memory usage: 3.5+ MB

In [8]:
data.describe()

            mileage         price            hp          year
count  4.607100e+04  4.607100e+04  46071.000000  46071.000000
mean   7.123314e+04  1.656312e+04    132.992663   2016.012155
std    6.245413e+04  1.927960e+04     75.074689      3.155555
min    0.000000e+00  1.100000e+03      1.000000   2011.000000
25%    1.990000e+04  7.490000e+03     86.000000   2013.000000
50%    6.000000e+04  1.100000e+04    116.000000   2016.000000
75%    1.050000e+05  1.949000e+04    150.000000   2019.000000
max    1.111111e+06  1.199900e+06    850.000000   2021.000000

In [8]:
#find make that has null value for gear
make_has_null_value1 = []
for index, row in enumerate(data["gear"].isnull()):
    if row == True:
        make_has_null_value1.append(data["make"][index])

list_make1 =np.unique(make_has_null_value1)
print("\n{} makes have some null values".format(len(list_make1)))
print("This list: ", list_make1)

34 makes have some null values
This list:  ['Alfa' 'Alpine' 'BMW' 'Caravans-Wohnm' 'Citroen' 'DAF' 'Dacia' 'Dodge'
 'Fiat' 'Ford' 'Hyundai' 'Kia' 'Lada' 'MINI' 'Mazda' 'Mercedes-Benz'
 'Mitsubishi' 'Nissan' 'Opel' 'Others' 'Peugeot' 'Piaggio' 'Renault'
 'SEAT' 'Skoda' 'Suzuki' 'Tazzari' 'Tesla' 'Toyota' 'Trailer-Anhänger'
 'Trucks-Lkw' 'Volkswagen' 'Volvo' 'smart']

In [40]:
list1 = data[data["make"]=="smart"]

print(len(np.array(list1.loc[:, "make"])))

list1.loc[:,'model'] = list1.loc[:,'model'].astype('str')
list1.loc[:,'gear'] = list1.loc[:,'gear'].astype('str')
smart_model = np.unique(np.array(list1.loc[:,'model'] ), return_counts=True)
smart_gear = np.unique(np.array(list1.loc[:,'gear'] ), return_counts=True)
print(smart_model)
print(smart_gear)

974
(array(['brabus', 'city-coupé/city-cabrio', 'forFour', 'forTwo', 'nan'],
      dtype=object), array([  2,   1, 244, 725,   2], dtype=int64))
(array(['Automatic', 'Manual', 'Semi-automatic', 'nan'], dtype=object), array([586, 346,  26,  16], dtype=int64))

C:\Users\harri\AppData\Local\Temp\ipykernel_1424\1944445785.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  list1.loc[:,'model'] = list1.loc[:,'model'].astype('str')
C:\Users\harri\AppData\Local\Temp\ipykernel_1424\1944445785.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  list1.loc[:,'gear'] = list1.loc[:,'gear'].astype('str')

In [42]:
new_list1 = list1[list1["model"]=="forFour"]
print(new_list1)
forfour_gear = np.unique(new_list1["gear"])
print(forfour_gear)

       mileage   make    model      fuel       gear       offerType  price  \
133      31500  smart  forFour  Gasoline     Manual            Used   6999
307      20000  smart  forFour  Gasoline  Automatic   Demonstration   9299
980      13850  smart  forFour  Gasoline     Manual            Used  11880
1331     40000  smart  forFour  Gasoline  Automatic            Used   8690
1374     28951  smart  forFour  Gasoline     Manual            Used   8490
...        ...    ...      ...       ...        ...             ...    ...
43728    27840  smart  forFour  Gasoline  Automatic            Used  15790
44083    31529  smart  forFour  Gasoline     Manual            Used   9122
44396     2000  smart  forFour  Electric  Automatic  Employee's car  12990
44946     3000  smart  forFour  Electric  Automatic   Demonstration  17390
45093     2908  smart  forFour  Electric  Automatic  Employee's car  18800

         hp  year
133    71.0  2017
307    71.0  2015
980    90.0  2019
1331   71.0  2016
1374   71.0  2018
...     ...   ...
43728  90.0  2019
44083  90.0  2019
44396  82.0  2020
44946  82.0  2020
45093  82.0  2020

[244 rows x 9 columns]
['Automatic' 'Manual' 'nan']

In [27]:
new_list1 = list1[list1["gear"]=="nan"]
new_list1

       mileage   make    model      fuel gear offerType  price    hp  year
5795     26000  smart   forTwo  Electric  nan      Used   6800  48.0  2015
9934     52500  smart   forTwo  Electric  nan      Used   9555  48.0  2014
10695     8100  smart  forFour  Electric  nan      Used  11800  82.0  2019
11699    30800  smart   forTwo  Gasoline  nan      Used   8479  71.0  2017
12950    32000  smart   forTwo  Electric  nan      Used   8200  48.0  2015
19426     5600  smart   forTwo  Electric  nan      Used  16499  82.0  2020
21394    45100  smart   forTwo  Electric  nan      Used   5249  48.0  2013
21594    95000  smart   forTwo  Gasoline  nan      Used   3554  61.0  2012
21926    50000  smart   forTwo  Gasoline  nan      Used   8850  71.0  2018
26929    43860  smart   forTwo  Gasoline  nan      Used   5600  71.0  2013
27035     1900  smart  forFour  Electric  nan      Used  13500  82.0  2020
27093   104000  smart   forTwo  Electric  nan      Used   6000  48.0  2012
29987    13800  smart   forTwo  Electric  nan      Used  12320  82.0  2019
30218     4800  smart   forTwo  Electric  nan      Used  16440  82.0  2020
36588    73560  smart   forTwo  Electric  nan      Used   7400  48.0  2013
38097    53000  smart   forTwo  Gasoline  nan      Used   5800  71.0  2014

In [33]:
#find make that has null value for gear
make_has_null_value2 = []
for index, row in enumerate(data["model"].isnull()):
    if row == True:
        make_has_null_value2.append(data["make"][index])

list_make2 =np.unique(make_has_null_value2)
print("\n{} makes have some null values".format(len(list_make2)))

34 makes have some null values

In [34]:
list_make1

array(['Alfa', 'Alpine', 'BMW', 'Caravans-Wohnm', 'Citroen', 'DAF',
       'Dacia', 'Dodge', 'Fiat', 'Ford', 'Hyundai', 'Kia', 'Lada', 'MINI',
       'Mazda', 'Mercedes-Benz', 'Mitsubishi', 'Nissan', 'Opel', 'Others',
       'Peugeot', 'Piaggio', 'Renault', 'SEAT', 'Skoda', 'Suzuki',
       'Tazzari', 'Tesla', 'Toyota', 'Trailer-Anhänger', 'Trucks-Lkw',
       'Volkswagen', 'Volvo', 'smart'], dtype='<U16')

In [35]:
list_make2

array(['9ff', 'Aixam', 'Alpine', 'Audi', 'BMW', 'Baic', 'Bentley',
       'Caravans-Wohnm', 'Citroen', 'DAF', 'Ford', 'Hyundai', 'Infiniti',
       'Iveco', 'Kia', 'Lada', 'Lancia', 'Lexus', 'MINI', 'Maybach',
       'Mercedes-Benz', 'Microcar', 'Nissan', 'Opel', 'Others', 'Porsche',
       'Renault', 'Skoda', 'Suzuki', 'Tesla', 'Trailer-Anhänger',
       'Volkswagen', 'Volvo', 'smart'], dtype='<U16')

In [38]:
list = np.intersect1d(list_make1, list_make2)
list

array(['Alpine', 'BMW', 'Caravans-Wohnm', 'Citroen', 'DAF', 'Ford',
       'Hyundai', 'Kia', 'Lada', 'MINI', 'Mercedes-Benz', 'Nissan',
       'Opel', 'Others', 'Renault', 'Skoda', 'Suzuki', 'Tesla',
       'Trailer-Anhänger', 'Volkswagen', 'Volvo', 'smart'], dtype='<U16')

In [45]:
#replace null value if it has some similarities with make and model

for every_make in list_make1:
    check_list1 = data[data["make"] == every_make]
    check_list1 = check_list1[["make","model","gear"]]
    # print(check_list1)
    model = np.unique(np.array(check_list1["model"]))
    print(model)
    print(len(model))
    # for every_model in model:
    #     print(every_model)
    #     check_list2 = check_list1[check_list1["model"]==every_model]
    #     print(check_list2)

    break

['Romeo 159' 'Romeo 4C' 'Romeo Giulia' 'Romeo Giulietta' 'Romeo MiTo'
 'Romeo Quadrifoglio' 'Romeo Sportwagon' 'Romeo Stelvio']
8

In [65]:
check_list1 = data[data["make"] == "BMW"]
# check_list1 = check_list1[["make","model","gear"]]
print(check_list1)
model = np.unique(np.array(str(check_list1["model"])))
print(model)
print(len(model))

       mileage make model      fuel       gear       offerType  price     hp  \
0       235000  BMW   316    Diesel     Manual            Used   6800  116.0
26      299900  BMW   118    Diesel     Manual            Used   7950  143.0
29      133500  BMW   118    Diesel     Manual            Used   7980  143.0
33      150000  BMW   118    Diesel     Manual            Used   7999  143.0
39      214000  BMW   320    Diesel  Automatic            Used   8199  184.0
...        ...  ...   ...       ...        ...             ...    ...    ...
46288     4000  BMW    M4  Gasoline  Automatic  Employee's car  97470  510.0
46295     5000  BMW    X1  Gasoline  Automatic            Used  38300  192.0
46326       45  BMW   iX3  Electric        NaN            Used  58000  286.0
46347     2000  BMW  X3 M    Diesel  Automatic   Demonstration  79900  340.0
46348      100  BMW   340  Gasoline  Automatic   Demonstration  82648  374.0

       year
0      2011
26     2012
29     2012
33     2012
39     2012
...     ...
46288  2021
46295  2021
46326  2021
46347  2021
46348  2021

[2405 rows x 9 columns]
['0         316\n26        118\n29        118\n33        118\n39        320\n         ... \n46288      M4\n46295      X1\n46326     iX3\n46347    X3 M\n46348     340\nName: model, Length: 2405, dtype: object']
1

In [58]:
check_list2 = check_list1[check_list1["model"]=="Romeo Giulia"]
print(check_list2)

       make         model       gear
5451   Alfa  Romeo Giulia        NaN
9237   Alfa  Romeo Giulia  Automatic
10033  Alfa  Romeo Giulia  Automatic
14130  Alfa  Romeo Giulia  Automatic
19232  Alfa  Romeo Giulia  Automatic
19241  Alfa  Romeo Giulia  Automatic
20415  Alfa  Romeo Giulia     Manual
28270  Alfa  Romeo Giulia  Automatic
33025  Alfa  Romeo Giulia  Automatic
41342  Alfa  Romeo Giulia  Automatic
41349  Alfa  Romeo Giulia  Automatic
41602  Alfa  Romeo Giulia  Automatic
41748  Alfa  Romeo Giulia     Manual
42106  Alfa  Romeo Giulia  Automatic
43240  Alfa  Romeo Giulia  Automatic
43254  Alfa  Romeo Giulia  Automatic
43981  Alfa  Romeo Giulia  Automatic
44158  Alfa  Romeo Giulia  Automatic
44213  Alfa  Romeo Giulia  Automatic
46286  Alfa  Romeo Giulia  Automatic

Based on the above information, the gear, model and hp columns have some null values. Each of them has a very low percentage of null value (less than 1%) which can be removed directly. However, the missing type of both gear and model can be considered as missing at random because the value can be retrieved back by checking other variables associated with gear and model such as make. Hence, the null value in gear columns can be retrieved if both model and and make have some similarities.

In [71]:
data['gear'] = data['gear'].astype('str')

In [72]:
np.unique(np.array(data["gear"]))

array(['Automatic', 'Manual', 'Semi-automatic', 'nan'], dtype=object)

In [73]:
#change object dtype to string type
for col in data.columns:
    if str(data[col].dtype) == 'object':
        data[col] = data[col].astype('str')

In [74]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46405 entries, 0 to 46404
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   mileage    46405 non-null  int64
 1   make       46405 non-null  object
 2   model      46405 non-null  object
 3   fuel       46405 non-null  object
 4   gear       46405 non-null  object
 5   offerType  46405 non-null  object
 6   price      46405 non-null  int64
 7   hp         46376 non-null  float64
 8   year       46405 non-null  int64
dtypes: float64(1), int64(3), object(5)
memory usage: 3.2+ MB

In [75]:
len(np.unique(data["model"]))

842

In [76]:
np.unique(data["model"])

array(['107', '108', '114', '116', '118', '120', '123', '124 Spider',
       '125', '135', '140', '1500', '2', '2008', '206', '207', '208',
       '214', '216', '218', '220', '225', '230', '235', '240', '250', '3',
       '3-Wheeler', '300', '3008', '300C', '301', '308', '316', '318',
       '320', '323', '325', '328', '330', '335', '340', '370Z', '4008',
       '407', '418', '420', '428', '430', '435', '440', '458', '488', '5',
       '500', '5008', '500C', '500L', '500X', '500e', '508', '518', '520',
       '523', '525', '528', '530', '535', '540', '550', '570S', '595',
       '595 Competizione', '595 Turismo', '595C', '6', '600LT', '630',
       '640', '650', '675LT', '695', '720S', '730', '740', '750', '760',
       '807', '812', '840', '911', '991', '992', '997', 'A 160', 'A 180',
       'A 200', 'A 220', 'A 250', 'A 35 AMG', 'A 45 AMG', 'A1', 'A110',
       'A3', 'A4', 'A4 allroad', 'A5', 'A6', 'A6 allroad', 'A7', 'A8',
       'AMG GT', 'ASX', 'ATS', 'Accord', 'Across', 'Adam', 'Adria',
       'Agila', 'Alaskan', 'Alhambra', 'Alpine A110', 'Altea', 'Altea XL',
       'Alto', 'Amarok', 'Ampera', 'Antara', 'Ape', 'Arkana', 'Arona',
       'Arteon', 'Aspen', 'Astra', 'Ateca', 'Auris', 'Automobiles DS 3',
       'Automobiles DS 3 Crossback', 'Automobiles DS 4',
       'Automobiles DS 5', 'Automobiles DS 7 Crossback', 'Avensis',
       'Aventador', 'Aveo', 'Aygo', 'B 160', 'B 180', 'B 200', 'B 220',
       'B 250', 'B-Max', 'B3', 'B5', 'B7', 'BJ20', 'BS4', 'Baleno',
       'Bayon', 'Beetle', 'Bentayga', 'Berlingo', 'Bipper', 'Birò',
       'Boxer', 'Boxster', 'Bravo', 'C 180', 'C 200', 'C 220', 'C 250',
       'C 300', 'C 350', 'C 400', 'C 43 AMG', 'C 63 AMG', 'C-Elysée',
       'C-HR', 'C-Max', 'C-Zero', 'C1', 'C15', 'C3', 'C3 Aircross',
       'C3 Picasso', 'C30', 'C4', 'C4 Aircross', 'C4 Cactus',
       'C4 Picasso', 'C4 SpaceTourer', 'C5', 'C5 Aircross', 'C6', 'C7',
       'C70', 'C8', 'CC', 'CL 500', 'CLA 180', 'CLA 200', 'CLA 220',
       'CLA 250', 'CLA 45 AMG', 'CLC', 'CLS', 'CLS 220', 'CLS 250',
       'CLS 350', 'CLS 400', 'CLS 450', 'CLS 500', 'CLS 63 AMG', 'CR-V',
       'CR-Z', 'CT 200h', 'CTS', 'CX-3', 'CX-30', 'CX-5', 'CX-7', 'Caddy',
       'Caliber', 'Camaro', 'Camry', 'Captiva', 'Captur', 'Carens',
       'Carnival', 'Cascada', 'Cayenne', 'Cayman', "Ceed / cee'd",
       "Ceed SW / cee'd SW", 'Celerio', 'Challenger', 'Charade',
       'Charger', 'Cherokee', 'Citan', 'Citigo', 'City', 'Civic', 'Clio',
       'Clubvan', 'Colt', 'Combo', 'Compass', 'Continental', 'Cooper',
       'Cooper Cabrio', 'Cooper Clubman', 'Cooper Countryman',
       'Cooper Coupe', 'Cooper D', 'Cooper D Cabrio', 'Cooper D Clubman',
       'Cooper D Countryman', 'Cooper D Paceman', 'Cooper Paceman',
       'Cooper Roadster', 'Cooper S', 'Cooper S Cabrio',
       'Cooper S Clubman', 'Cooper S Countryman', 'Cooper S Coupe',
       'Cooper S Paceman', 'Cooper S Roadster', 'Cooper SD',
       'Cooper SD Cabrio', 'Cooper SD Clubman', 'Cooper SD Countryman',
       'Cooper SD Coupe', 'Cooper SD Paceman', 'Cooper SE', 'Corolla',
       'Corsa', 'Crafter', 'Cross Golf', 'Cross Touran', 'Crossland',
       'Crossland X', 'Cruze', 'Cuore', 'D-Max', 'D2S', 'D3', 'DS3',
       'DS4', 'DS5', 'Daily', 'Dart', 'Delta', 'Doblo', 'Dokker',
       'Ducato', 'Due', 'Durango', 'Duster', 'E 200', 'E 220', 'E 250',
       'E 300', 'E 350', 'E 400', 'E 43 AMG', 'E 450', 'E 500',
       'E 53 AMG', 'E 63 AMG', 'E-NV200', 'E-Pace', 'EQC 400', 'EQV 300',
       'ES 300', 'EV Zero Classic', 'EX30', 'Eclipse', 'Eclipse Cross',
       'EcoSport', 'Edge', 'Enyaq', 'Eos', 'Espace', 'Evalia', 'Exeo',
       'Expert', 'Explorer', 'Express', 'F 150', 'F-Pace', 'F-Type',
       'F12', 'F8 Tributo', 'FF', 'Fabia', 'Fiesta', 'Fiorino', 'Flex',
       'Flying Spur', 'Focus', 'Ford', 'Forester', 'Formentor', 'Fox',
       'Freemont', 'Fullback', 'Fusion', 'G', 'G 350', 'G 400', 'G 500',
       'G 63 AMG', 'GL 350', 'GL 63 AMG', 'GLA 180', 'GLA 200', 'GLA 220',
       'GLA 250', 'GLA 45 AMG', 'GLB 180', 'GLB 200', 'GLB 220',
       'GLB 250', 'GLC 200', 'GLC 220', 'GLC 250', 'GLC 300', 'GLC 350',
       'GLC 43 AMG', 'GLC 63 AMG', 'GLE 250', 'GLE 350', 'GLE 400',
       'GLE 43 AMG', 'GLE 450', 'GLE 500', 'GLE 63 AMG', 'GLK 200',
       'GLK 220', 'GLK 250', 'GLK 350', 'GLS 350', 'GLS 400', 'GLS 500',
       'GLS 600', 'GS 250', 'GS 450h', 'GT', 'GT86', 'Galaxy', 'Gallardo',
       'Genesis', 'Getz', 'Ghibli', 'Ghost', 'Gladiator', 'Glory 580',
       'Golf', 'Golf Cabriolet', 'Golf GTE', 'Golf GTI', 'Golf Plus',
       'Golf Sportsvan', 'Golf Variant', 'GranCabrio', 'GranTurismo',
       'Grand C-Max', 'Grand C4 Picasso', 'Grand C4 SpaceTourer',
       'Grand Caravan', 'Grand Cherokee', 'Grand Espace', 'Grand Modus',
       'Grand Santa Fe', 'Grand Scenic', 'Grand Tourneo', 'Grand Vitara',
       'Grand Voyager', 'Grande Punto', 'Grandland X', 'Granta', 'H-1',
       'HR-V', 'Highlander', 'Hilux', 'Huracan', 'I-MiEV', 'I-Pace',
       'ID.3', 'ID.4', 'IS 300', 'Ibiza', 'Ignis', 'Impreza', 'Insight',
       'Insignia', 'Ioniq', 'JS 50', 'Jazz', 'Jetta', 'Jimny',
       'John Cooper Works', 'John Cooper Works Clubman',
       'John Cooper Works Countryman', 'John Cooper Works Coupe',
       'Journey', 'Juke', 'Jumper', 'Jumpy', 'Ka/Ka+', 'Kadjar', 'Kalina',
       'Kamiq', 'Kangoo', 'Kangoo Z.E.', 'Karl', 'Karma', 'Karoq',
       'Kizashi', 'Kodiaq', 'Koleos', 'Kona', 'Kona Elektro', 'Korando',
       'Kuga', 'LC 500', 'LS 500', 'LS 600', 'LX 570', 'Laguna', 'Lancer',
       'Land Cruiser', 'Landwind', 'Latitude', 'Leaf', 'Legacy', 'Leon',
       'Levante', 'Levorg', 'Linea', 'Lodgy', 'Logan', 'M.Go', 'M1', 'M2',
       'M3', 'M4', 'M5', 'M6', 'M8', 'M850', 'ML 250', 'ML 300', 'ML 350',
       'MP4-12C', 'MUSA', 'MUSSO', 'MX-30', 'MX-5', 'Macan', 'Malibu',
       'Marco Polo', 'Martin', 'Martin DB11', 'Martin DBX',
       'Martin Rapide', 'Martin V8', 'Martin Vantage', 'Master', 'Megane',
       'Meriva', 'Micra', 'Mii', 'Mirai', 'Model 3', 'Model S', 'Model X',
       'Modus', 'Mokka', 'Mokka X', 'Mokka-E', 'Mondeo', 'Movano',
       'Mulsanne', 'Murano', 'Mustang', 'NP300', 'NSX', 'NV200', 'NV250',
       'NV300', 'NX 300', 'Navara', 'Nemo', 'New Beetle', 'New Panda',
       'Niro', 'Nitro', 'Niva', 'Note', 'OUTBACK', 'Octavia', 'Odyssey',
       'One', 'One Cabrio', 'One Clubman', 'One Countryman', 'One D',
       'One D Clubman', 'One D Countryman', 'Optima', 'Orlando',
       'Outlander', 'Pacifica', 'Pajero', 'Panamera', 'Panda', 'Partner',
       'Passat', 'Passat Alltrack', 'Passat CC', 'Passat Variant',
       'Pathfinder', 'Phaeton', 'Picanto', 'Pixo', 'Pointer', 'Polo',
       'Polo Cross', 'Polo GTI', 'Porter', 'Praktik', 'Primastar',
       'Priora', 'Prius', 'Prius+', "ProCeed / pro_cee'd", 'Proace',
       'Pullman', 'Pulsar', 'Puma', 'Punto', 'Punto EVO', 'Punto Evo',
       'Q2', 'Q3', 'Q30', 'Q5', 'Q50', 'Q60', 'Q7', 'Q70', 'Q8',
       'Qashqai', 'Qashqai+2', 'Quattroporte', 'Qubo', 'R 300', 'R 350',
       'R8', 'RAM', 'RAV 4', 'RC 300h', 'RCZ', 'REXTON', 'RS', 'RS Q3',
       'RS Q8', 'RS3', 'RS4', 'RS5', 'RS6', 'RS7', 'RX 450h', 'Ranger',
       'Rapid', 'Rapid/Spaceback', 'Renegade', 'Rifter', 'Rio',
       'Roadster', 'Rodius', 'Romeo 159', 'Romeo 4C', 'Romeo Giulia',
       'Romeo Giulietta', 'Romeo MiTo', 'Romeo Quadrifoglio',
       'Romeo Sportwagon', 'Romeo Stelvio', 'Roomster', 'Rover Defender',
       'Rover Discovery', 'Rover Discovery Sport', 'Rover Freelander',
       'Rover Range Rover', 'Rover Range Rover Evoque',
       'Rover Range Rover Sport', 'Rover Range Rover Velar', 'S 260',
       'S 350', 'S 400', 'S 450', 'S 500', 'S 560', 'S 600', 'S 63 AMG',
       'S 650', 'S-Max', 'S1', 'S3', 'S4', 'S40', 'S5', 'S6', 'S60',
       'S60 Cross Country', 'S7', 'S8', 'S80', 'S90', 'SL 350', 'SL 500',
       'SLC 180', 'SLC 200', 'SLC 250', 'SLC 300', 'SLK 200', 'SLK 250',
       'SLK 300', 'SLS', 'SQ5', 'SQ7', 'SQ8', 'SX4', 'SX4 S-Cross',
       'Sandero', 'Santa Fe', 'Scala', 'Scenic', 'Scirocco', 'Scudo',
       'Sedici', 'Senova X35', 'Sharan', 'Silverado', 'Sirion', 'Sorento',
       'Soul', 'Space Star', 'Spacetourer', 'Spark', 'Splash', 'Sportage',
       'Sprinter', 'Stinger', 'Stonic', 'Superb', 'Supra', 'Swace',
       'Swift', 'T-Cross', 'T-Roc', 'T4 Allstar', 'T5', 'T5 California',
       'T5 Caravelle', 'T5 Kombi', 'T5 Multivan', 'T5 Shuttle',
       'T5 Transporter', 'T6 California', 'T6 Caravelle', 'T6 Kombi',
       'T6 Multivan', 'T6 Transporter', 'T6.1 California',
       'T6.1 Multivan', 'T6.1 Transporter', 'TT', 'TT RS', 'TTS', 'Taiga',
       'Talento', 'Talisman', 'Tarraco', 'Taycan', 'Terios', 'Thema',
       'Tiguan', 'Tipo', 'Tivoli', 'Toledo', 'Touareg', 'Touran',
       'Tourneo', 'Tourneo Connect', 'Tourneo Courier', 'Tourneo Custom',
       'Town & Country', 'Trafic', 'Transit', 'Transit Bus',
       'Transit Connect', 'Transit Courier', 'Transit Custom',
       'Transporter', 'Traveller', 'Trax', 'Trezia', 'Tucson', 'Twingo',
       'Twizy', 'UX 200', 'UX 250h', 'Urban Cruiser', 'Urus', 'V 200',
       'V 220', 'V 250', 'V 300', 'V40', 'V40 Cross Country', 'V50',
       'V60', 'V60 Cross Country', 'V70', 'V90', 'V90 Cross Country',
       'Veloster', 'Venga', 'Verso', 'Verso-S', 'Vesta', 'Viano', 'Viper',
       'Vitara', 'Vito', 'Vivaro', 'Volt', 'Voyager', 'Wind', 'Wraith',
       'Wrangler', 'X-Trail', 'X1', 'X2', 'X2 M', 'X3', 'X3 M', 'X4',
       'X4 M', 'X5', 'X5 M', 'X6', 'X6 M', 'X7', 'X7 M', 'XC40', 'XC60',
       'XC70', 'XC90', 'XCeed', 'XD3', 'XE', 'XF', 'XJ', 'XK', 'XKR',
       'XLV', 'XT4', 'XV', 'Yaris', 'Yeti', 'Ypsilon', 'Z06', 'Z4',
       'Z4 M', 'ZOE', 'Zafira', 'Zafira Life', 'Zafira Tourer', 'brabus',
       'city-coupé/city-cabrio', 'e', 'e-Niro', 'e-tron', 'forFour',
       'forTwo', 'i10', 'i20', 'i3', 'i30', 'i40', 'i8', 'iOn', 'iQ',
       'iX20', 'iX3', 'iX35', 'nan', 'up!'], dtype=object)

In [77]:
np.unique(np.array(data["make"]))

array(['9ff', 'Abarth', 'Aixam', 'Alfa', 'Alpina', 'Alpine', 'Aston',
       'Audi', 'BMW', 'Baic', 'Bentley', 'Brilliance', 'Cadillac',
       'Caravans-Wohnm', 'Chevrolet', 'Chrysler', 'Citroen', 'Corvette',
       'Cupra', 'DAF', 'DFSK', 'DS', 'Dacia', 'Daihatsu', 'Dodge',
       'Estrima', 'FISKER', 'Ferrari', 'Fiat', 'Ford', 'Honda', 'Hyundai',
       'Infiniti', 'Isuzu', 'Iveco', 'Jaguar', 'Jeep', 'Kia', 'Lada',
       'Lamborghini', 'Lancia', 'Land', 'Lexus', 'Ligier', 'MINI',
       'Maserati', 'Maybach', 'Mazda', 'McLaren', 'Mercedes-Benz',
       'Microcar', 'Mitsubishi', 'Morgan', 'Nissan', 'Opel', 'Others',
       'Peugeot', 'Piaggio', 'Polestar', 'Porsche', 'RAM', 'Renault',
       'Rolls-Royce', 'SEAT', 'Skoda', 'SsangYong', 'Subaru', 'Suzuki',
       'Tazzari', 'Tesla', 'Toyota', 'Trailer-Anhänger', 'Trucks-Lkw',
       'Volkswagen', 'Volvo', 'Zhidou', 'smart'], dtype=object)

In [78]:
len(np.unique(np.array(data["make"])))

77

In [89]:
make_has_null_val =[]
for every_gear, every_make in zip(np.array(data["gear"]), np.array(data["make"])):
    # print(every_gear, every_make)
    if every_gear == "nan":
        make_has_null_val.append(every_make)

In [94]:
print("Out of {} manufacturers ".format(len(np.unique(data["make"])))   + str(len(np.unique(make_has_null_val) )) + " has null values")

Out of 77 manufacturers 34 has null values

In [95]:
np.unique(make_has_null_val)

array(['Alfa', 'Alpine', 'BMW', 'Caravans-Wohnm', 'Citroen', 'DAF',
       'Dacia', 'Dodge', 'Fiat', 'Ford', 'Hyundai', 'Kia', 'Lada', 'MINI',
       'Mazda', 'Mercedes-Benz', 'Mitsubishi', 'Nissan', 'Opel', 'Others',
       'Peugeot', 'Piaggio', 'Renault', 'SEAT', 'Skoda', 'Suzuki',
       'Tazzari', 'Tesla', 'Toyota', 'Trailer-Anhänger', 'Trucks-Lkw',
       'Volkswagen', 'Volvo', 'smart'], dtype='<U16')

In [96]:
# selecting rows based on condition
ds_alfa = data[data['make'] == "Alfa"]

In [98]:
np.unique(ds_alfa["model"])

array(['Romeo 159', 'Romeo 4C', 'Romeo Giulia', 'Romeo Giulietta',
       'Romeo MiTo', 'Romeo Quadrifoglio', 'Romeo Sportwagon',
       'Romeo Stelvio'], dtype=object)

In [101]:
ds_alfa[ds_alfa["model"] == "Romeo Giulia"]

,mileage,make,model,fuel,gear,offerType,price,hp,year
5451,13444,Alfa,Romeo Giulia,Gasoline,nan,Used,29980,200.0,2019
9237,10,Alfa,Romeo Giulia,Gasoline,Automatic,Pre-registered,43849,280.0,2020
10033,9867,Alfa,Romeo Giulia,Gasoline,Automatic,Used,27945,200.0,2019
14130,500,Alfa,Romeo Giulia,Gasoline,Automatic,Demonstration,38480,200.0,2021
19232,500,Alfa,Romeo Giulia,Gasoline,Automatic,Demonstration,56980,280.0,2021
19241,2500,Alfa,Romeo Giulia,Gasoline,Automatic,Demonstration,75680,510.0,2021
20415,98808,Alfa,Romeo Giulia,Diesel,Manual,Used,19950,179.0,2017
28270,16200,Alfa,Romeo Giulia,Gasoline,Automatic,Demonstration,38512,280.0,2019
33025,10,Alfa,Romeo Giulia,Gasoline,Automatic,Pre-registered,49889,280.0,2021
41342,79987,Alfa,Romeo Giulia,Diesel,Automatic,Used,19589,150.0,2017
41349,41600,Alfa,Romeo Giulia,Gasoline,Automatic,Used,23990,200.0,2017
41602,39000,Alfa,Romeo Giulia,Gasoline,Automatic,Used,29890,280.0,2017
41748,152100,Alfa,Romeo Giulia,Diesel,Manual,Used,14990,150.0,2017
42106,15750,Alfa,Romeo Giulia,Diesel,Automatic,Used,37390,209.0,2018
43240,11450,Alfa,Romeo Giulia,Diesel,Automatic,Used,38390,209.0,2019
43254,11,Alfa,Romeo Giulia,Gasoline,Automatic,Used,45390,280.0,2019
43981,22700,Alfa,Romeo Giulia,Gasoline,Automatic,Used,36700,280.0,2019
44158,10,Alfa,Romeo Giulia,Diesel,Automatic,Pre-registered,39088,190.0,2020
44213,10,Alfa,Romeo Giulia,Gasoline,Automatic,Pre-registered,42784,280.0,2020
46286,10,Alfa,Romeo Giulia,Gasoline,Automatic,Used,88400,510.0,2021

In [97]:
ds_alfa[["model","make","gear"]]

                 model  make       gear
1458   Romeo Giulietta  Alfa     Manual
2331   Romeo Giulietta  Alfa     Manual
2981   Romeo Giulietta  Alfa     Manual
3774   Romeo Giulietta  Alfa     Manual
4464        Romeo MiTo  Alfa     Manual
...                ...   ...        ...
45931    Romeo Stelvio  Alfa  Automatic
45932    Romeo Stelvio  Alfa  Automatic
46181    Romeo Stelvio  Alfa  Automatic
46212    Romeo Stelvio  Alfa  Automatic
46286     Romeo Giulia  Alfa  Automatic

[132 rows x 3 columns]

In [59]:
# selecting rows based on condition
ds_abarth = data[data['make'] == "Abarth"][["model","make","gear"]]
ds_abarth

       mileage    make       gear
5147     21500  Abarth     Manual
5690     15000  Abarth     Manual
7359         5  Abarth     Manual
7360         5  Abarth     Manual
8518     61600  Abarth     Manual
10171    84510  Abarth     Manual
10366    64219  Abarth     Manual
14602   168000  Abarth     Manual
15323    33000  Abarth     Manual
19920    52000  Abarth  Automatic
21032    67541  Abarth     Manual
21544       20  Abarth     Manual
21547       20  Abarth     Manual
21553       20  Abarth     Manual
21555       20  Abarth     Manual
22164    30180  Abarth     Manual
22792       10  Abarth     Manual
23220       20  Abarth     Manual
24277       10  Abarth     Manual
24931       20  Abarth     Manual
25911    22000  Abarth     Manual
25998     2990  Abarth     Manual
26177       10  Abarth     Manual
26630       20  Abarth     Manual
27650       10  Abarth     Manual
27651       10  Abarth     Manual
29344       10  Abarth     Manual
29345       10  Abarth     Manual
33891    99300  Abarth     Manual
35072   125455  Abarth     Manual
35699   126949  Abarth     Manual
40183    59239  Abarth  Automatic
42607    23394  Abarth  Automatic
43148    31500  Abarth     Manual
45057     8902  Abarth     Manual
45182        0  Abarth  Automatic
45914        0  Abarth     Manual
46007       99  Abarth     Manual
46051        5  Abarth     Manual
46057        5  Abarth     Manual
46116       99  Abarth     Manual
46197       10  Abarth     Manual
46291        5  Abarth  Automatic